.ChosenImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
    margin-top: 20px;
    object-fit: contain;
}
.OutterWraper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}
.InnerWraper{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.EditButton {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
  .mainProfileWrapper{
    background-color: rgb(232, 242, 247);
    display: flex;
    justify-content: center;
    max-width: 780;
    align-items: center;
  }
  .innerProfileWrapper{
    background-color: white;
    width: 1280px;
  }