.AuthPage {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    border-radius: 2vmin;
    border: 1px solid black;
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: var(--oxford);
    cursor: pointer;
  }