.UserProfile {
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}
.CircleImg {
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.UserProfileText {
    font-weight: bold;
}
.CreatePostDiv {
    display: flex;
    flex-direction: column;
}
.VideosDiv {
    display: flex;
}
.UserNameText {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.UserFollowDiv {
    display: flex;
    justify-content: space-between;
}
.userUpload{
    cursor:pointer;
    width: 351px;
     height: 264px;
     margin-left: 10px;
     margin-right: 10px;
   }
   .commentsbox {
       width: 800px;
       height: 100px;
   }
   .outMostWrapper{
       /* border: solid 1px blue; */
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .formOutterWrapper {
       display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: space-around;
   }
   .ArtPrompt {
       text-align: center;
       font-weight: 600;
       text-decoration: underline;
   }
   .commentBtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    display: inline;
    position: relative;
}
.commentBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: solid 1px red; */
    width: 800px;
}
.deleteBtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    display: inline;
    position: relative;
}
.commentUser {
    font-style: inherit;
    font-weight: bold;
}
.comment {
    margin-top: -30px;
    color: gray;
    font-size: 1.4em;
}
.line1 {
    border: 0;
    clear:both;
    display:block;
    width: 100%;    
    margin-right: 50px;           
    background-color:#808080;
    height: 1px;
    margin-top: 50px;
  }
  .line3 {
    border: 0;
    clear:both;
    display:block;
    width: 100%;    
    margin-right: 50px;           
    background-color:#808080;
    height: 1px;
    margin-bottom: 50px;
  }
.line2 {
    border: 0;
    clear:both;
    display:block;
    width: 100%;    
    margin-right: 50px;           
    background-color:#808080;
    height: 1px;
  }
.commentUser{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* border: solid purple 1px; */
    width: 100%;
    height: 100px;
}

.commentLeftSide{
    font-size: 1.5em;
}

.deleteButton{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    display: inline;
    position: relative;
}
