.UserProfile {
    display: flex;
}
.CircleImg {
    width: 170px;
    height: 180px;
    border-radius: 100%;
}
.UserProfileText {
    font-weight: bold;
}
.ProgressDiv {
    display: flex;
    flex-direction: column;
}
.VideosDiv {
    display: flex;
}