.artCard {
    object-fit: contain;
    background-size: cover;
    width: 351px;
    height: 264px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

}