.Footer {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px 20px 20px;
    box-shadow: 0px -4px 4px #E5E5E5;
    background-color: white;
    cursor: pointer;
}

.footerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer li {
    color: black;
    font-size: small;
    font-weight: bold;
    display: inline;
    padding: 0 0 0 20px;
}

.footerForm {
    display: grid;
    width: 300px;
}

.Footer label {
    font-size: 15px;
    font-weight: bold;
}

.Footer input {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #E5E5E5;
    height: 40px;
    width: 220px;
    margin-top: 5px;
}

.Footer .submitBtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    display: inline;
    position: absolute;
    margin-left: 10px;
}

.Footer button:active {
    transform: scale(0.9);
}