.formContainer1 {
    display: grid;
    grid-template-columns: auto;
    padding: 25px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 1vmin;
}

.formContainer1 input {
    border: 0.1vmin solid #C4C4C4;
    height: 60px;
    box-sizing: border-box;
    width: 490px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 10px;
    text-align: center;
}

.formContainer1 .pass {
    width: 230px;
}

.formContainer1 .confirm {
    width: 230px;
    margin-left: 30px;
}

.formContainer1 > h4 {
    margin-left: 25px;
}

.formContainer1 p {
    font-family: 'AcuminPro';
    text-align: center;
}

.formContainer1 button {
    width: 154px;
    height: 40px;
    margin-left: 350px;
    margin-top: 50px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 10px;
    border: 0.5px solid transparent;
}

.formContainer1 button:disabled, form:invalid button[type='submit'] {
    cursor: not-allowed;
    color: #111111;
    background-color: #7C7C7C;
}

.formContainer1 button[type='submit'] {
    background-color: #111111;
    color: #FFFFFF;
}

.formContainer1 .checkbox {
    height: 15px;
    width: 15px;
    border-radius: 0px !important;
}

.formContainer1 .checkText {
    font-family: 'AcuminPro';
    font-size: 13px;
    color: #7C7C7C;
}

.formContainer1 .textBold {
    font-family: 'AcuminProSemibold'
}

@font-face {
    font-family: 'AcuminPro';
    src: url(../../public/fonts/acumin-pro.ttf);
}

@font-face {
    font-family: 'AcuminProSemibold';
    src: url(../../public/fonts/acumin-pro-semibold.ttf);
}