.artistCard {
    display: flex;
}

.filterBar {
    position: relative;
    display: flex;
    height: 43pt;
    width: 585px;
    border-color: white;
    justify-content: center;
}

.artText {
    margin-top: 5px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.topText {
    margin: 20pt;
    font-style: normal;
    font-size: 20px;
    font-weight: 545;
}

.artArray {
    display: flex;
    flex-wrap: wrap;
}


.userAvatar {
    filter: drop-shadow(1px 6px 3px #C4C4C4)
}

.discoverArt {
    display: flex;
    width: 1334px;
    height: 99px;
    overflow: hidden;
    margin: 40px;

}

.mainProfileWrapper {
    background-color: rgb(232, 242, 247);
    display: flex;
    justify-content: center;
    max-width: 780;
    align-items: center;
}

}
.mainProfileWrapper{
    background-color: rgb(232, 242, 247);
    display: flex;
    justify-content: center;
    max-width: 780;
    align-items: center;
  }
  .innerProfileWrapper{
    background-color: white;
    width: 1280px;
  
