.artistCard {
    display: flex;
}

.artText {
    font-family: 'Acumin Pro';
    font-style: normal;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.discoverArt {
    display: flex;
    width: 1334px;
    height: 99px;
    overflow: hidden;
}