.artistCard {
    display: flex;
}

.filterBar {
    position: relative;
    display: flex;
    height: 43pt;
    width: 585;
    border-color: white;
    justify-content: center;
}

.artText {
    font-family: 'Acumin Pro';
    font-style: normal;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.userAvatar {
    filter: drop-shadow(2px 8px 3px #C4C4C4)
}

.discoverArt {
    display: flex;
    width: 1334px;
    height: 99px;
    overflow: hidden;

}
.mainProfileWrapper{
    background-color: rgb(232, 242, 247);
    display: flex;
    justify-content: center;
    max-width: 780;
    align-items: center;
  }
  .innerProfileWrapper{
    background-color: white;
    width: 1280px;
  }